.root {
    position: fixed;
    float: left;
    width: 100px;
    height: 100%;
    background: #343f4b;
    padding-top: 20px;
    z-index: 2;
}

.navLink {
    display: block;
    padding: 10px 10px 8px 10px;
    color: #748392;
    & > i {
        display: inline-block;
        width: 26px;
        text-align: center;
    }
    & > span {
        position: absolute;
        display: inline-block;
        left: 42px;
    }
    &:hover {
        color: #ffffff;
    }
}

.home {
    & > i {
        font-size: 19px;
    }
}

.repository {
    & > i {
        font-size: 16px;
    }
}

.employees {
    & > i {
        font-size: 15px;
    }
}

.qrcode {
    & > i {
        font-size: 18px;
    }
}

.settings {
    & > i {
        font-size: 15px;
    }
}

.activeNavLink {
    color: #ffffff;
    background-color: #2a3541;
}
